[class$='contain'],
[class^='contain'] {
  max-width: 76.5rem; // 1280px
  width: 100%;
  margin: 0 auto;
}

main [class$='contain'],
main [class^='contain'] {
  max-width: 80rem; // 1280px
  padding: 0 2rem; // 0 32px

  @include respond-min(xlg) {
    padding: 0;
  }
}

main > :not(router-outlet) {
  flex: 1 1 100%;
}

%contain--flex,
.contain--flex {
  display: flex;
  justify-content: space-between;
}
