.three-col {
  @extend %contain--flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-right: -1%;
  margin-left: -1%;
}

.three-col > .col {
  flex: 0 1 31%;
  margin-right: 1%;
  margin-left: 1%;
}

.three-col--flex-start {
  @extend %contain--flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.three-col--stretch {
  @extend .three-col;
  align-content: stretch;
  margin-bottom: 3rem;
}

.three-col--stretch .mat-card {
  height: 100%;
}
