[class*='two-col'] {
  @extend %contain--flex;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.two-col > .col {
  flex: 0 1 50%;
  padding-top: 1rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.two-col--two-one {
  height: 100%;
}

.two-col--one-two > .col,
.two-col--two-one > .col {
  max-width: 53.75rem; // 860px
  padding: 2.75rem 1.5625rem;
}

.two-col--one-two > .col {
  &:first-child {
    flex: 1 1 33.33%;
  }

  &:last-child {
    flex: 0 1 66.66%;
  }
}

.two-col--two-one > .col {
  &:first-child {
    flex: 0 1 66.66%;
  }

  &:last-child {
    flex: 1 1 33.33%;
  }
}

main .two-col--two-one article {
  position: relative;
  z-index: 1;
  flex: 0 1 66.66%;
  box-shadow: 2px 0 3px 0 rgba($black, 0.12);
  color: $black;
}

main .two-col--two-one aside {
  flex: 1 1 33.33%;
  background: $grey-athens-gray;
  // color: $black;
}

.detail-page,
.detail-page [class*='two-col'] {
  height: 100%;
}
