hr.decorative {
  position: relative;
  overflow: visible;
  border-bottom: 3px solid $red-mexican-red;
  margin: 1.5rem auto 2.5rem;

  &:after {
    content: '';
    position: absolute;
    background: url('~assets/svgs/icon__border-decoration.svg') no-repeat;
    background-size: cover;
    width: 2.125rem; // 34px
    height: 2.125rem; // 34px
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
