.form-wrap__inline {
  display: flex;
  // align-items: flex-start;
  align-items: baseline;
  color: $grey-dove-gray;
  font-size: .95em;

  mat-form-field {
    flex: 0 0 auto;
    margin-left: .75em;
  }
}

// .form-wrap__inline p {
//   margin: 2px .75rem 0;
// }

mat-expansion-panel.icon__left .mat-expansion-indicator {
  order: 1;
  padding-right: 0.625rem; // 10px
}

mat-expansion-panel.icon__left .mat-content {
  order: 2;
  flex: auto;
}

.form-wrap__search {

}
