/*
//=====
name: "Lists";
slug: base/lists;
description: [ ];
usage: [
  <h3>Definition List</h3>
  <dl>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
  </dl>

  <h3>Ordered List</h3>
  <ol>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ol>

  <h3>Unordered List</h3>
  <ul>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ul>

  <h3>%default-ol Ordered List</h3>
  <ol class="default">
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ol>

  <h3>%default-ul Unordered List</h3>
  <ul class="default">
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ul>
];
=====//
*/

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-top: $small-spacing/2;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;

    li {
      padding-bottom: $small-spacing;
    }
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

ul.default {
  @extend %default-ul;
}

ol.default {
  @extend %default-ol;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
