nav ul {
  display: flex;
  flex-direction: row;
}

#utility-nav a,
#main-nav a,
#main-footer a {
  color: $white;

  &:hover,
  &:active {
    color: $blue-gull-gray;
  }
}

#main-nav a {
  text-decoration: none;
}
