/*
//=====
@name "Core HTML Layout";
@slug layout/core;
@description [ ];
@usage [
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">
      <title>Project Title</title>
      <link href="application.css" rel="stylesheet">
    </head>
    <body>
      Hello World
      <!--Javascript goes here -->
    </body>
   </html>
  ];
=====//
*/

html {
  box-sizing: $box-sizing;
  font-size: $root-font-size;
}

html, body {
  background: $base-background-color;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  padding: 0;
  margin: 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}


#skip-link {
  margin: 0;
  padding: 0;
}
