app-search {
  @include clearfix();
  display: block;
  max-width: 55em;
}

.search_main {
  display: flex;
  max-width: 55em;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), 0 5px 15px rgba(0, 0, 0, 0.25);

  .mat-form-field-wrapper {
    width: auto;
    padding-bottom: 0;
  }

  .mat-form-field {
    background-color: #fff;
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 1.75em;
  }

  mat-form-field {
    padding: 1.25em 1em;

    &.search__type-options {
      flex: 0 0 240px;

      .mat-select-trigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .mat-input-underline,
      .mat-input-underline .mat-input-ripple {
        position: static;
      }
    }

    &:not(.search__type-options) {
      flex-basis: 100%;

      .mat-input-underline {
        display: none;
      }
    }
  }

  button.mat-raised-button:not([class*='mat-elevation-z']) {
    flex: 0 0 auto;
    padding-right: 1.5em;
    padding-left: 1.5em;
    box-shadow: none;
  }
}

.search__filters {
  display: flex;
  justify-content: flex-end;
  max-width: 55em;
  margin-right: 0;
  padding: 1em 7em 1em 0;

  label {
    align-items: baseline;
    color: $grey-dove-gray;
    font-size: 0.95em;

    & + label,
    & + ul {
      margin-left: 1em;
    }

    mat-form-field {
      flex: 0 0 auto;
      margin-left: 0.75em;
    }
  }

  // CCL
  ul {
    mat-form-field {
      flex: 1;
    }
  }
}

// .search_main .mat-error {
// margin-top: -1px;
// padding: 0 12px;
// }

mat-form-field.search__type-options {
  width: auto;
  flex-basis: 5rem;

  .mat-select-value {
    max-width: 100%;
    width: auto;
    display: flex;
  }
}
