/*
//=====
@name: "Typography"
@slug: base/typography
@description: [ ]
@usage: [
  <h1>h1. Heading</h1>
  <h2>h2. Heading</h2>
  <h3>h3-h6. Heading</h3>
  <hr>
  <h1 id="paragraph">Paragraph</h1>
  <p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est.
  Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec,
  gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. M
  aecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.</p>
]
=====//
*/

// ===================================================================================
// Core typographic selectors
// ------------
//

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // letter-spacing: 0.2em;
}

html {
  font-size: $root-font-size;
}

body {
  @include body-copy;
  color: $base-font-color;
  font-feature-settings: 'kern', 'liga', 'pnum';
  text-size-adjust: 100%;
}

h1,
.h1 {
  @include header-1;
  margin: 0 0 $base-spacing;
}

h2,
.h2 {
  @include header-2;
  margin: 0 0 $base-spacing;
}

h3,
.h3 {
  @include header-3;
  margin: 0 0 $base-spacing;
}

h4,
.h4 {
  @include header-4;
  margin: 0 0 $base-spacing;
}

h5,
.h5 {
  @include header-5;
  margin: 0 0 $small-spacing;
}

h6,
.h6 {
  @include header-6;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $base-spacing * 1;
}

p.subheader,
.subheader p {
  @include body-copy-large();
  margin: 0 0 $base-spacing * 1;
}

p.copy--small,
.copy--small p {
  @include body-copy-small();
}

a {
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:link,
  &:visited {
    color: $ui-color-action;
  }

  &:hover,
  &:active,
  &:focus {
    color: $ui-color-action-hover;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

blockquote {
  margin: 1.5rem 0;
  padding: 0.625rem 1.25rem 0.25rem;

  p {
    margin-bottom: $base-spacing;
    font-family: $bold-font-family;
    font-size: $base-font-size * 1.625;
    line-height: 1.291666667;
    font-weight: 400;
    font-style: italic;
  }

  cite {
    font-family: $base-font-family;
    font-size: $base-font-size * 0.75;
    font-style: normal;
    font-weight: 500;
    line-height: 1.333333333;
    text-transform: uppercase;
  }
}

.text-align--center {
  text-align: center;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.highlight {
  background-color: yellow;
}

.arabic {
  font-family: $arabic-stack;
  direction: rtl;
}

.caps {
  text-transform: uppercase;
}
