.mat-tab-label {
  background: #19417a;
  color: rgba(255,255,255, 0.75);
  text-transform: uppercase;
  opacity: 1 !important;

  &.mat-tab-label-active {
    border-bottom: 2px solid #fff;
    color: #fff;
    opacity: 1;
  }
}

.mat-tab-group.mat-primary .mat-ink-bar, 
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #fff;
}

.mat-tab-group.mat-primary .mat-tab-label:focus, 
.mat-tab-group.mat-primary .mat-tab-link:focus, 
.mat-tab-nav-bar.mat-primary .mat-tab-label:focus, 
.mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
  background: #19417a;
}