.mat-button,
.mat-raised-button,
button.mat-button,
button.mat-raised-button {
  @include source-sans(semibold);
  display: flex;
  align-items: center;
  min-width: 0;
  text-transform: uppercase;
  cursor: pointer;

  &[disabled] {
    background-color: rgb(229, 232, 236);
    color: $grey-dove-gray;
    cursor: default;
  }

  .mat-icon {
    margin-right: .25em;
  }
}


.mat-button,
button.mat-button {
  background-color: transparent;
  transition: background-color .15s;
  
  .mat-button-wrapper {
    color: $blue-chathams-blue;
  }

  .mat-icon {
    color: $grey-boulder;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: rgb(229, 232, 236);
  }
}

.mat-raised-button,
button.mat-raised-busson {
  background: $blue-downriver;
  transition: box-shadow .25s;
  
  .mat-button-wrapper {
    color: $white;
  }

  .mat-icon {
    color: rgba($white, .75);
  }
}

.mat-fab:not([class*=mat-elevation-z]),
.mat-mini-fab:not([class*=mat-elevation-z]),
.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 2px rgba(0, 0, 0, .15),
                0 2px 2px rgba(0, 0, 0, .25);

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, .15),
                0 6px 8px rgba(0, 0, 0, .25);
  }
}