// Override Material Roboto font with project font
.mat-form-field,
.mat-input-element,
.mat-radio-label,
.mat-checkbox-label {
  font-family: $source-sans-stack !important; // Hard override material defaults
}



.mat-form-field-underline {
  background-color: rgba(0, 0, 0, .1);
}



.mat-input-infix {

  // padding: .25em .5em;
  border-top: 0;

  .mat-input-element {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}



// Change all interaction ripples to brand green
.mat-radio-button,
.mat-checkbox {
  .mat-ripple-element {
    background-color: rgba($green-eucalyptus, .25) !important;
  }
}


// Checkboxes
.mat-checkbox-inner-container {
  border-color: $grey-dove-gray;
}

.mat-checkbox-background {
  .mat-checkbox-indeterminate.mat-accent &,
  .mat-checkbox-checked.mat-accent & {
    background-color: $green-eucalyptus;
  }
}


// Radio buttons
.mat-radio-outer-circle {
  border-color: $grey-dove-gray;

  .mat-radio-button.mat-accent.mat-radio-checked & {
    border-color: $green-eucalyptus;
  }
}

.mat-radio-inner-circle {
  .mat-radio-button.mat-accent & {
    background-color: $green-eucalyptus;
  }
}



// Select
.mat-form-field-type-mat-select {
  .mat-input-infix {
    padding: .35em 0;
  }
}
