mat-card.mat-card {
  @include source-sans(regular);
  display: flex;
  flex-direction: column;

  &.mat-card--pretty {
    border-left: 3px solid $blue-gull-gray;
  }

  &.thin {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .mat-card-header {
    // flex: 0 1 100%;
    display: flex;
    flex-direction: row;

    mat-card-title.mat-card-title {
      @include source-sans('semibold');
      font-size: 1.25rem; // 20px
      line-height: 1.2;

      h3 {
        color: $blue-downriver;
        font-weight: 600;

        &:only-child {
          margin-bottom: 0;
        }
      }

      a {
        color: $blue-downriver;
      }
    }

    .mat-card-header-text {
      margin: 0;
      width: 100%;
    }
  }

  mat-card-content.mat-card-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    // margin-top: auto;
    margin-bottom: 0;

    > * {
      flex: 1;
      margin-bottom: 0;
    }

    > * + * {
      margin-top: 1rem;
    }
  }

  mat-card-subtitle.mat-card-subtitle {
    color: $grey-dove-gray;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

    a {
      color: $grey-dove-gray;
    }

    mat-card-title.mat-card-title + & {
      margin-top: 0.5rem;
    }
  }

  mat-card-footer.mat-card-footer {
    background: rgba($blue-gull-gray, 0.08);
    margin: 0 -1.5rem; // 0 -24px -24px
    padding: 10px 1.5rem 15px; // 10px -24px 15px

    section {
      min-width: 140px; // 86px
      margin-right: 1.5rem; // 38px
    }

    h3 {
      margin-bottom: 0.25rem; // 4px
      color: $blue-gull-gray;
      font-size: 0.75rem; // 12px
      text-transform: uppercase;
    }

    .mat-card-actions {
      margin-bottom: 0px;
      padding: 0;

      .mat-button-wrapper {
        display: flex;
        align-items: center;

        mat-icon.mat-icon {
          width: 16px;
          height: 16px;
          margin-right: 0;
          margin-left: 0.25rem;
          color: $blue-downriver;
          font-size: 18px;
        }
      }
    }

    &:last-child {
      margin-bottom: -1.5rem;
    }
  }

  mat-card-actions.mat-card-actions {
    flex: 1 0 auto;
    padding: 1rem 0;
  }
}

.mat-card__meta-list {
  flex: 1;
  margin: 0 -1.5rem; // 24px 24px
  padding: 0;

  li {
    flex: 1;
    background: $grey-athens-gray;
    border-bottom: 1px solid #dfe2e7;
    padding: 0.6rem 1.5rem;
    align-self: flex-end;
  }

  label,
  .label {
    margin: 0;
    color: rgb(90, 102, 114);
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
