mat-expansion-panel-header .mat-expansion-panel-header-title {
  @include source-sans('semibold');
  font-size: 1.25rem;
  color: $blue-chathams-blue;
}

.mat-expansion-panel-content .mat-expansion-panel-body {
  margin: 0;
}

.mat-expansion-panel__list li {
  display: flex;
  align-items: baseline;
  font-size: 1rem; // 16px
  padding: 1rem 1.5rem; // 16px 24px
  border-bottom: 1px solid rgba($grey-dove-gray, 0.25);
}

.mat-expansion-panel__list__header {
  flex-basis: 20%;
  font-weight: normal;
  color: $black;
  margin-bottom: 0;
}

.mat-expansion-panel__nested > li {
  font-size: 1rem; // 16px
  padding: 1rem 1.5rem; // 16px 24px

  > .mat-expansion-panel__list__header > a {
    font-weight: 400 !important;
    text-transform: none !important;
  }
}
