.card-result {
  display: block;
  margin-bottom: 1rem; // 16px
  max-width: 49.125rem; // 786px
}

.search-meta {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 -1.5625rem 2rem; // 0 -25px 32px
  padding: 0 2rem 1.625rem; // 0 32px 26px
  border-bottom: 0.0625rem solid rgba($black, 0.14); // 1px
}



// Search sidebar
.search-sidebar {
  h2 {
    margin-bottom: .5em;
    font-size: 1.3em;
    font-weight: 600;
  }

  label:not(.mat-checkbox-layout):not(.mat-radio-label):not(.search-within) {
    display: block;
    color: rgb(101, 113, 125);
    font-size: 1em;
  }

  .mat-radio-button,
  .mat-checkbox {
    display: block;
    
    &:not(:last-of-type) {
      margin-bottom: .25em;
    }
  }
}

.search-sidebar__actions {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;

  .mat-button {
    // Offset button padding
    &:first-of-type {
      margin-left: -1em;
    }

    + .mat-button {
      margin-left: .25em;
    }
  }
}


.search-form {
  .search-field {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .15),
                0 2px 2px rgba(0, 0, 0, .25);

    .mat-input-underline {
      display: none;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-input-infix {
        display: flex;
      }
    }
  }
}


.search-sidebar__filter {
  margin-bottom: 1em;
}

// Search Within filter
.filter_within {
  h3 {
    font-weight: 500;
    margin-bottom: 0.5em;
  }
}

// Restrictions filter
.filter_restrictions {
  position: relative;

  mat-expansion-panel {
    background: transparent;
    box-shadow: none !important;
  }

  mat-expansion-panel-header {
    position: absolute;
    top: 0;
    right: 0;
    height: 100% !important;
    max-height: 26px; // Match "All" checkbox

    mat-panel-title {
      font-size: 1em;
    }

    .mat-expansion-indicator {
      transition: none;
    }
  }

  .mat-expansion-panel {
    padding-top: 0.5em;
    padding-left: 1.8em;

    .mat-checkbox-inner-container {
      margin-top: 0;
    }

    .mat-checkbox-label {
      max-width: 270px;
      line-height: 1.5;
      white-space: normal;
    }

    .mat-expansion-panel-body {
      // overflow: visible;
    }

    .mat-expansion-panel-content {
      overflow: visible;
    }
  }
}


.search-sidebar__divider {
  margin: 1em -1.5em;
  border-bottom-color: rgba(0, 0, 0, .15);
}
