.detail-page h1 {
  font-size: 2rem; // 32px
  text-transform: none;
}

.detail-page h2 {
  text-transform: none;
}

.detail-page a {
  color: $blue-denim;

  &[href*="footnotes"] {
    font-size: 0.75em;
    vertical-align: super;
  }
}

.detail-page aside {
  padding: 2.75rem 2.5rem; // 44px 40px
}

.detail-page article {
  padding: 0;
}

.detail-page article .block-paragraph {
  margin: 0 0 1.5rem;
}

.detail-page .two-col--two-one > .col {
  padding-right: 0;
  padding-bottom: 0;
}

.detail-page .two-col--two-one > .col .container {
  padding-right: 2.1875rem; // 35px
  padding-bottom: 3.125rem; // 50px
}

.detail-page .wrap-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.detail-page .wrap-image li {
  display: block;
  width: 9.375rem; // 150px
  height: 9.375rem; // 150px
  margin: 0.5rem; // 8px
  overflow: hidden;
  line-height: 9.375rem; // 150px
}

.detail-page .wrap-image img {
  max-width: 130%;
  cursor: pointer;
  vertical-align: middle;
}

.detail-page article {
  position: relative;
  z-index: 1;
  box-shadow: 0.125rem 0 0.1875rem 0 rgba($black, 0.12); // 2px 0 3px
  color: $grey-dove-gray;
}

.detail-page .block-paragraph__list {
  display: block;
}

.detail-page article .label,
.detail-page article .h4 {
  color: $blue-chathams-blue;
}

.detail-page article .footnotes {
  column-count: 2;
  column-gap: 0.9375rem;
  max-width: 48.75rem;
  word-break: break-word;
  display: block;

  li {
    margin-bottom: 1rem;
    font-size: 0.85rem;

    strong {
      margin-right: 0.25rem;
    }
  }
}

.detail-page aside {
  font-size: 0.9rem;
}

.detail-page aside .label {
  color: $blue-gull-gray;
  text-transform: uppercase;
  font-size: 0.85rem; // 13.6px
}

.detail-page aside li {
  margin-bottom: 0.3125rem;
}

.detail-page .label {
  margin: 1.25rem 0 0.3125rem 0; // 20px 0 5px 0
  font-weight: bold;
}

.detail-page .list-dates {
  display: flex;
}

.detail-page .list-dates li {
  display: inline;
  margin: 0.3125rem 0.9375rem 0.9375rem 0; // 5px 15px 15px 0
}

.detail-page .list-dates li strong {
  color: $blue-chathams-blue;
}

.detail-page .mat-chip-list {
  display: inline-block;
}

.detail-page article footer .three-col {
  background: $grey-athens-gray;
  padding: 1.75rem 2.375rem; // 28px 38px
}

.detail-page article mat-tab-group {
  padding: 0;
}

.detail-page .mat-card .mat-card-title {
  margin: 0;
}

.detail-page article .mat-card .mat-card-title {
  height: 5rem; // 80px
}

.detail-page .mat-card .mat-card-title h4 {
  padding: 1.5625rem; // 25px
  margin: 0;
}

.detail-page .mat-card-title h4 a {
  color: $blue-chathams-blue;
}

table.dataTable tbody td {
  vertical-align: top;
}

.detail-page aside .mat-card {
  margin-bottom: 1rem; // 16px
}

.detail-page aside .mat-card__meta-list li {
  margin: 0;
}

// .detail-page aside .mat-card .mat-card-title {
//   height: auto;
// }

.detail-page .mat-card .mat-card-title h4 {
  padding: 0 0 1.5625rem;
}
