.thin-card-container li {
  padding: 1rem 0.3rem;
  min-height: 5.3rem;
}
.thin-card-container h4 {
  color: $blue-chathams-blue;
  display: inline;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 34rem;
}

.thin-card-container.flex {
  display: flex !important;
  justify-content: center;
  display: inline-block;
  width: 100%;
}

.thin-card-content {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
}

.thin-card {
  display: flex;
  flex-flow: row wrap;

  app-entity-card-featured-thin:not(:last-of-type) & {
    border-bottom: 1px solid $blue-gull-gray;
  }
}

.padding-holder {
  width: 5%;
}

.thin-card-container button {
  appearance: none;
  background: none;
  border: none;
  color: $white;
  padding: none;
}

// button:focus, input[type="button"]:focus {
//     outline: none;
// }

.string-display {
  width: 100%;
}

//Specifics to the saved search card functionality
.remove-content {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-icon.saved {
  line-height: 1.5;
  color: $grey-dove-gray;
  font-size: 16px;
  margin-left: auto;
}

mat-icon.remove {
  line-height: 1.5;
  color: $red-thunderbird;
  height: auto;
  width: auto;
  display: none;
}

.thin-card-container .empty-state {
  background-color: $grey-athens-gray;
  padding-top: 5rem;
  padding-bottom: 5rem;
  // width: 50%;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.thin-card-container .not-empty-state {
  width: 100%;
}

.empty-state p {
  text-align: center;
}
.empty-state h3 {
  color: $blue-chathams-blue;
}
.icon-text {
  vertical-align: middle;
}

li.active {
  background: $grey-athens-gray;
}

li.active > button > mat-icon.remove {
  display: inline-block;
}
