@mixin two-col-bg() {
  background: linear-gradient(
    to right,
    $white 0%,
    $white 70%,
    $grey-athens-gray 70%,
    $grey-athens-gray 100%
  );
  display: block;
  height: 100%;

  > .contain {
    height: 100%;
  }
}
