@mixin respond-min($name, $breakpoints: $grid-breakpoints) {
    $bp: map-get($breakpoints, $name);
    @media (min-width: $bp) {
        @content;
    }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin respond-max($name, $breakpoints: $grid-breakpoints) {
   $bp: map-get($breakpoints, $name);
    @media (max-width: $bp) {
      @content;
    }
}
