@mixin source-sans($weight-name) {
  font-family: $source-sans-stack;

  @if $weight-name == 'extra-light' {
    font-weight: 200;
  }

  @if $weight-name == 'extra-light-italic' {
    font-weight: 200;
    font-style: italic;
  }

  @if $weight-name == 'light' {
    font-weight: 300;
  }

  @if $weight-name == 'light-italic' {
    font-weight: 300;
    font-style: italic;
  }

  @if $weight-name == 'regular' {
    font-weight: 400;
  }

  @if $weight-name == 'regular-italic' {
    font-weight: 400;
    font-style: italic;
  }

  @if $weight-name == 'semibold' {
    font-weight: 600;
  }

  @if $weight-name == 'semibold-italic' {
    font-weight: 600;
    font-style: italic;
  }

  @if $weight-name == 'bold' {
    font-weight: 700;
  }

  @if $weight-name == 'bold-italic' {
    font-weight: 700;
    font-style: italic;
  }

  @if $weight-name == 'black' {
    font-weight: 900;
  }

  @if $weight-name == 'black-italic' {
    font-weight: 900;
    font-style: italic;
  }
}

@mixin header-1 {
  font-size: 2.125rem; // 34px
  font-weight: 600;
  line-height: 1.2;
}

@mixin header-2 {
  font-size: 1.5rem; // 24px
  font-weight: 600;
  line-height: 1.2;
}

@mixin header-3 {
  font-size: 1.25rem; // 20px
  font-weight: 600;
  line-height: 1.2;
}

@mixin header-4 {
  font-size: 1rem; // 16px
  font-weight: 600;
  line-height: 1.2;
}

@mixin header-5 {
  font-size: .875rem; // 14px
  font-weight: 400;
  line-height: 1.2;
}

@mixin header-6 {
  font-size: .75rem; // 12px
  font-weight: 600;
  line-height: 1.2;
}

@mixin label {
  @include header-6();
  font-family: $bold-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin body-copy {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

@mixin body-copy-large {
  font-size: 1.125rem; // 18px
  line-height: 1.666666667;
}

@mixin body-copy-small {
  font-size: .875rem; // 14px
  line-height: 1.714285714;
}
