// ===================================================================================
// Color
// -------------
// Color Palette

// TODO: Update variable colors to remove duplicative second "gray" or at least
//       make sure the spelling of the two is consistant (should be gray)
// Primary
$white:            #fff;
$grey-athens-gray: #F8F9FA;
$grey-boulder:     rgb(121, 121, 121);
$grey-dove-gray:   #666666;
$black:            #333333;

$blue-chathams-blue: #19417a;
$blue-downriver: #092851;
$blue-gull-gray: #94a2b0;
$blue-denim: #1965D2;

$red-alizarin-crimson: #d81f26;
$red-thunderbird: #BE1616;
$red-mexican-red: #a02024;

$green-eucalyptus: #269F49;


$brand-primary-color:               $blue-downriver;
$brand-secondary-color:             $blue-chathams-blue;


// Font Colors
$base-font-color:                   $black;
$base-link-color:                   $brand-secondary-color;
$base-link-color-external:          $blue-denim;

// Border Color/Style
$base-border-color:                 $blue-chathams-blue;
$base-border:                       1px solid $base-border-color;

// Background Colors
$base-background-color:             $white;
// $secondary-background-color:        tint($base-border-color, 75%);

// UI Action
$ui-color-action:                   $blue-chathams-blue;
$ui-color-action-hover:             $blue-gull-gray;

// UI Success
// $ui-color-success:                  #39b25d;
// $ui-color-success-hover:            tint($ui-color-success, 75%);

// UI Info
// $ui-color-info:                     #3498db;
// $ui-color-info-hover:               tint($ui-color-info, 75%);

// UI Warning
$ui-color-warning:                  rgba($red-alizarin-crimson, .5);
$ui-color-warning-hover:            $red-thunderbird;

// UI Error
// $ui-color-error:                    $bronze-olive;
// $ui-color-warning-error:            tint($ui-color-error, 75%);


$map-color-all: (
  white: $white,
  // athens: $grey-athens-gray,
  // boulder: $grey-boulder,
  gray: $grey-dove-gray,
  black: $black,

  // chathams: $blue-chathams-blue,
  // downriver: $blue-downriver,
  // gull: $blue-gull-gray,
  // denim: $blue-denim,

  // crimson: $red-alizarin-crimson,
  // thunderbird: $red-thunderbird,
  // mexico: $red-mexican-red,

  // eucalyptus: $green-eucalyptus
);
