// ===================================================================================
// Base Widths
// -------------
$grid-breakpoints: (
  xs: 30rem,     // Extra small screen / phone (480px)
  sm: 48rem, // Small screen / phone (768px)
  md: 62.5rem, // Medium screen / tablet (1000px)
  lg: 75rem, // Large screen / desktop (1200px)
  xlg: 100rem  // Extra large screen / wide desktop (1600px)
);
