// ===================================================================================
// Base Sizing
// -------------
$base-border-radius:    5px;
$base-spacing:          $base-line-height * 1rem;
$small-spacing:         $base-spacing / 2;
$box-sizing:            border-box;
