// ===================================================================================
// Typography
// -------------
// Font Stacks
// $exo-stack: 'Exo', sans-serif;
@import url(//fonts.googleapis.com/earlyaccess/notosansdevanagari.css);

$source-sans-stack: 'Source Sans Pro', sans-serif;
$arabic-stack: 'Noto Sans Devanagari', sans-serif;

// Weights
$base-font-family-bold: 600;
$base-font-family: $source-sans-stack;
$bold-font-family: $source-sans-stack;

// Sizes
$root-font-size: 16px;
$base-font-size: 1rem; // 16px
$base-line-height: 1.5;
